<!DOCTYPE html>
<html>
    <head>
        <title>HELP</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
                {{>header}}
            
            <p>
                {{message}}
            </p>
            </div>
            
            {{>footer}}
        </body>
    </head>
</html>